@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--Dark-purple);
}

.attribution a {
    color: hsl(228, 55%, 41%);
}

body {
    font-family: Work Sans, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://i.postimg.cc/W10QL69b/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--Light-pink);
}

.accordion-container {
    width: 32rem;
    background: transparent;
    background-color: var(--White);
    border-radius: 1rem;
    padding: 1.5rem 1.5rem 0;
    margin-bottom: 0.5rem;
    box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.10);
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header h1 {
    font-size: 2.8rem;
    color: var(--Dark-purple);
}

header img {
    width: 37px;
    height: 37px;
}

main {
    margin: 1.5rem 0;
}

.accordion-item:not(:last-child) {
    border-bottom: 1px solid var(--Light-pink);
}

.accordion-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 1rem 0;
}

.accordion-btn img {
    display: block;
}
.icon img{
    width:30px ;
    height: 30px;
    
}
.accordion-btn p {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
    line-height: 1.7rem;
}

.accordion-btn .minus-icon {
    display: none;
}

.accordio-description {
    color: var(--Grayish-purple);
    margin: 0.7rem 0 0;
    text-align: justify;
    padding-right: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease;
}

.accordio-description p {
    padding-bottom: 0.8rem;
    line-height: 1.4rem;
}

@media (max-width: 375px) {
    body {
        background-image: url(./assets/images/background-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .accordion-container {
        width: 86%;
        margin: 30% 0 0;
    }

    .attribution {
        display: flex;
        flex-direction: column;
        padding: 0.3rem 0;
    }

}

@media (max-width: 566px) {
    .accordion-container {
        width: 90%;
        margin: 10% 0;
    }


    .accordio-description p:last-child {
        padding-bottom: 0.3rem;
    }
}
